:root {
  --primary-blue: #2A5C7D;
  --accent-violet: #6C63FF;
  --soft-violet: #A59BFF;
  --pure-white: #FFFFFF;
  --section-bg: #F9FAFF;
  --text-dark: #2D3748;
  

  --primary-blue-rgb: 42,92,125;
  --accent-violet-rgb: 108,99,255;
}

